@import "reset";


body {
    font-family: 'Open Sans', sans-serif;
    display:grid;
    grid-template-columns: 3.5fr 1fr;
    &> header {
        grid-column:1/3;
        font-family: 'Nunito', sans-serif;
        color:white;
        height:70vh;
        background: linear-gradient( 135deg, rgb(52, 82, 255, 0.8) 0%, rgb(255, 16, 83, 0.8) 100%), url("https://media.discordapp.net/attachments/1039274378971590716/1049320875637346334/inner-pagebg.png");
        background-size:cover;



        & > nav {
            display:flex;
            height:20%;
            justify-content:space-between;
            align-items:center;
            border-bottom: 1px solid rgb(255, 255, 255, 0.3);


            & > ul {
                list-style-type:none;
                display:flex;
                align-items:center;
                justify-content:center;
                padding:1vh 3vw 1vh 3vw;

                & > li {
                    display:inline-block;
                }

            }


            & > ul:first-of-type {
                font-size:1em;
                font-weight:ligther;
                text-transform:uppercase;

                & > li:first-of-type {
                    padding:1vh 1vw 1vh 0vw;
                }

                & > li:nth-of-type(2) {
                    font-size:1.5em;
                    font-weight:bold;
                    border-right:1px solid rgb(255, 255, 255, 0.3);
                    padding:0 2vw 0 0;
                }

                & > li {
                    padding:2vh 2vw;
                }

            }

            & > ul:last-of-type {
                & > li {
                    padding:1vh 1vw;
                }

                & > li:nth-of-type(2) {
                    border-left: 1px solid rgb(255, 255, 255, 0.3);
                    border-right: 1px solid rgb(255, 255, 255, 0.3);

                }
            }

        }

        & > #title {
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            padding:22vh 0 0 0;

            & > h1 {
                font-size:2.2em;
                text-transform:uppercase;
            }

            & > ul {
                & > li {
                    display:inline-block;
                    padding-top:3vh;
                    font-size:0.9em;
                }
            }
        }
    }

    & > main {
        padding-left:2vw;

        & > #video {

            margin-bottom:4vh;

            & > header {
                display:flex;
                justify-content:space-between;
                padding-right:3vw;
                align-items:end;
                padding: 8vh 0 2vh 0;

                & > figure {
                        display:flex;
                        align-items:center;

                    & > img {
                        max-height:8vh;
                    }

                    & > figcaption {
                        display:inline-block;
                        color:#9f9f9f;

                        & > p {
                            display:inline-block;
                            padding: 0vh 1vw 0 1vw;
                        }
                    }
                }

                & > ul {
                    list-style-type:none;
                    display:flex;
                    align-items:center;
                    & > li {
                        display:inline-block;
                        padding:0vh 0.5vw 0 1vw;

                        & > button {
                            background-color:#2441e7;
                            color:white;
                            width:7vw;
                            height:4.5vh;
                            border-radius:4px;
                            border:none;
                        }
                    }
                }
            }

            & > section {
                & > header {
                    & > h2 {
                        font-size: 1.7em;
                        font-weight:500;
                    }

                    & > ul {
                        & > li {
                            display:inline-block;
                            font-size:0.9em;
                            color:#9f9f9f;
                            padding: 1vh 2vw 4vh 0;

                            & > button {
                                background-color:#ff1053;
                                color:white;
                                height: 4vh;
                                border:none;
                                border-radius:4px;
                                width:7vw;
                            }
                        }
                    }

                }

            }

        }

        & > #overview {
            border: 1px solid grey;
            padding:4vh 4vw;

            & > header {

                & > h3 {
                    font-size:1.3em;
                    font-weight:500;
                    padding-bottom:2vh;
                }

            }

            & > section {
                & > h4 {
                    font-size:1.1em;
                    font-weight:400;
                    padding-bottom:2vh;
                }

                & > p {
                    padding-bottom:2vh;
                    color:#808080;
                }
            }
        }
    }
}